extends layout
block head
   - var title = 'Jobo - Đăng nhập'
block content
  div(class='main row')
    div(class='column')
      div(class='header')
        h2 Đăng nhập
      div(class='subtitle')
      form(action='/users/login', method='post', class='column')
        div(class='formFields')
          fieldset(id='usernameField')
            div(class='input')
              label(for='username') Email
              input(class='required',id='username',type='text',value=username,placeholder='Nhập email',name='username')
            div(class='inputStatus')
              if errorInput === 'username'
                img(class='statusIcon warning' src='/images/warning.svg')
          fieldset(id='passwordField')
            div(class='input')
              label(for='password') Mật khẩu
              input(class='required',id='password',type='password',value=password,placeholder='Nhập mật khẩu',name='password')
            div(class='inputStatus')
              if errorInput === 'password'
                img(class='statusIcon warning' src='/images/warning.svg')
          input(type='hidden' name='accountLinkingToken' value='#{accountLinkingToken}')
          input(type='hidden' name='redirectURI' value='#{redirectURI}')
        div(id='error')
          if locals.errorMessage
            p #{errorMessage}
        button(class='submitButton' id='submit',type='submit')
          div(class='row' id='submitInternal')
            img(class='icon' id='spinner' src='/images/loading.svg' style='display:none')
            span(class='buttonText') Đăng nhập
      p(class='subtitle') Chưa có tài khoản? #[a(href=`/users/create?account_linking_token=${accountLinkingToken}&redirect_uri=${redirectURI}`) Tạo mới]
